zh-cn/application-dev/reference/arkui-cj/figures/text.gif filter=lfs diff=lfs merge=lfs -text
zh-cn/application-dev/application-models/figures/uiability-launch-type2.gif filter=lfs diff=lfs merge=lfs -text
zh-cn/application-dev/arkui-cj/figures/Column26.gif filter=lfs diff=lfs merge=lfs -text
